# Travis script based on https://github.com/hvr/multi-ghc-travis

env:
  - CABALVER=1.18 GHCVER=7.8.4
  - CABALVER=1.22 GHCVER=7.10.1

before_install:
  - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
  - travis_retry sudo apt-get update
  - travis_retry sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER
  - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH
  - sudo apt-get install libgsl0-dev libcairo2-dev

install:
  - cabal --version
  - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
  - travis_retry cabal update
  - cabal install happy alex
  - cabal install gtk2hs-buildtools
  - cabal install --only-dependencies --enable-tests --enable-benchmarks -fgsl-example

script:
  - cabal configure -flib-Werror -v2 --enable-tests --enable-benchmarks -fgsl-example
  - cabal build
  - ./dist/build/gsl-ode/gsl-ode
  - cabal check
  - cabal test
  - cabal haddock
  - cabal sdist
  # check that the generated source-distribution can be built & installed
  - export SRC_TGZ=$(cabal info . | awk '{print $2 ".tar.gz";exit}') ;
    cd dist/;
    if [ -f "$SRC_TGZ" ]; then
       cabal install --enable-tests --force-reinstalls "$SRC_TGZ";
    else
       echo "expected '$SRC_TGZ' not found";
       exit 1;
    fi;
    cd ..
  # check that the sample cabal project can be installed
  - cd sample-cabal-project;
    cabal configure;
    cabal build
